@media screen and (min-width: 320px) { 
    .nav .navMenu {
      display: none;
    }
    .nav .userIcon{
        display: none;
    }

    /* <!-- **************HERO PART part********** --> */

    .hero {
        height: 570px;
    }
    .hero .details span {      
        font-size: 18px;       
    }
    .hero .details h1 {
        font-size: 27px;
        width: 275px;
    }
    .hero .details p {   
        font-size: 14px;     
        width: 265px;       
    }
    .hero .details .img img{
        width: 100%;
    }

    /* <!-- **************Product PART start********** --> */

    .product_part .title h2 {       
        font-size: 35px;      
    }

    .product_part .title p {        
        font-size: 15px;      
        width: 271px;        
    }

    .product_part .productTab ul {
        display: block;
    }

    .product_part .productTab ul li{
        margin-bottom: 20px;
    }

    .product_part .productCard .cardTitle {
        display: block;
        text-align: center;
    }

    .product_part .productCard h3 {
        margin-bottom: 20px;
    }

    .product_part .productCard .prd_list .main {      
        grid-template-columns: repeat(1, 1fr);      
    }

    .product_part .productCard .item .img img{
        width: 100%;       
    }
    .product_part .productCard .item .socialBtn ul li {
        padding: 10px 15px;      
    }

    .product_part .productCard .item .socialBtn ul li span {      
        font-size: 17px;        
    }

    footer {
        height: 900px;       
    }
    footer .main {
        display: block;
    }

    footer .item2 {
        margin-top: 35px;
    }

    footer .item3 {
        margin-top: 35px;
    }
    /* <!-- ********************Details Part****************************** --> */
    .details_part{
        height: 700px;
    }
    .details_part .details_Card {
        width: 100%;       
    }
    .details_part .details_Card .text .main {
        display: block;
    }
    /* ********************congrats Part****************************** */
    .congrats_part .cgs_item{
        width: 100%;
    }
  }






  @media screen and (min-width: 600px) { 
    /* <!-- **************Product PART start********** --> */
    .product_part .productTab ul {
        display: block;
    }

    .product_part .productTab ul li{
        margin-bottom: 20px;
    }

    .product_part .productCard .cardTitle {
        display: flex;
        
    }
    .product_part .productCard h3 {
        margin-bottom: 0px;
    }

    .product_part .productCard .prd_list .main {      
        grid-template-columns: repeat(2, 1fr);      
    }

    footer .main {
        display: block;
    }

    footer .item2 {
        margin-top: 0px;
    }

    footer .item3 {
        margin-top: 0px;
    }
    
    /* <!-- ********************Details Part****************************** --> */
    .details_part{
        height: 740px;
    }
    .details_part .details_Card {
        width: 100%;       
    }
    .details_part .details_Card .text .main {
        display: flex;
    }
  }








  @media screen and (min-width: 768px) { 
    .nav .navMenu {
        display: block;
      }
      .nav .userIcon{
          display: block;
      }

      /* <!-- **************HERO PART part********** --> */

    .hero {
        height: 652px;
    }   
    
    .hero .details span{       
        font-size: 24px;
        font-weight: 700;  
    }
    
    .hero .details h1 {
        font-size: 55px;
        font-weight: 900;
        width: 669px;
    }
    
    .hero .details p {
        font-size: 16px;
        font-weight: 700;
        width: 647px;
    }

    .hero .details .img img{
        width: 60%;
    }

    /* <!-- **************Product PART start********** --> */
    .product_part .title p {
        font-size: 15px;
        width: 477px;
    }

       .product_part .productTab ul {
        display: flex;     
    }

    .product_part .productTab ul li{
        padding: 14px 24px;
        gap: 12px;
        margin-bottom: 0px;     
    }

    .product_part .productCard .cardTitle {
        display: flex;
        
    }
    .product_part .productCard h3 {
        margin-bottom: 0px;
    }

    .product_part .productCard .prd_list .main {      
        grid-template-columns: repeat(2, 1fr);      
    }

    footer {
        height: 400px;       
    }

    footer .main {
        display: flex;
    }

    footer .item2 {
        margin-top: 0px;
    }

    footer .item3 {
        margin-top: 0px;
    }
    /* <!-- ********************Details Part****************************** -->   */
    .details_part .details_Card {
        width: 60%;       
    }
    .details_part .details_Card .text .main {
        display: flex;
    }
     /* ********************congrats Part****************************** */
     .congrats_part .cgs_item{
        width: 60%;
    }
  }
  


  @media screen and (min-width: 992px) { 
    .nav .navMenu {
        display: block;
      }
      .nav .userIcon{
          display: block;
      }

    /* <!-- **************HERO PART part********** --> */

    .hero {
        height: 777px;
    }
    
    .hero .details span{       
        font-size: 24px;
        font-weight: 700;  
    }
    
    .hero .details h1{       
        font-size: 72px;
        font-weight: 900;      
        width: 750px;        
    }
    
    .hero .details p{       
        font-size: 16px;
        font-weight: 700;       
        width: 750px;       
    }
    .hero .details .img img{
        width: 60%;
    }

    /* <!-- **************Product PART start********** --> */
    .product_part .productTab ul {
        display: flex;
    }

    .product_part .productTab ul li{
        margin-bottom: 0px;
        padding: 20px 50px;
        gap: 20px;
    }

    .product_part .productCard .cardTitle {
        display: flex;
        
    }
    .product_part .productCard h3 {
        margin-bottom: 0px;
    }

    .product_part .productCard .prd_list .main {      
        grid-template-columns: repeat(3, 1fr);      
    }

    footer {
        height: 400px;       
    }

    footer .main {
        display: flex;
    }

    footer .item2 {
        margin-top: 0px;
    }

    footer .item3 {
        margin-top: 0px;
    }
    /* <!-- ********************Details Part****************************** --> */
    .details_part .details_Card {
        width: 50%;       
    }
    .details_part .details_Card .text .main {
        display: flex;
    }
  }







  @media screen and (min-width: 1200px) {  
    .nav .navMenu {
        display: block;
      }
      .nav .userIcon{
          display: block;
      }

    /* <!-- **************HERO PART part********** --> */

    .hero{
        height: 900px;    
    }    
    
    .hero .details span{       
        font-size: 24px;
        font-weight: 700;  
    }
    
    .hero .details h1{       
        font-size: 72px;
        font-weight: 900;      
        width: 750px;        
    }
    
    .hero .details p{       
        font-size: 16px;
        font-weight: 700;       
        width: 750px;       
    }
    .hero .details .img img{
        width: 60%;
    }
   /* <!-- **************Product PART start********** --> */
   .product_part .title h2{    
    font-size: 40px;   
    }

    .product_part .title p{   
        font-size: 16px;   
        width: 600px;  
    }
    .product_part .productTab ul {
        display: flex;
    }

    .product_part .productTab ul li{
        margin-bottom: 0px;
        padding: 20px 100px;
        gap: 20px;
    }

    .product_part .productCard .cardTitle {
        display: flex;
        
    }
    .product_part .productCard h3 {
        margin-bottom: 0px;
    }

    .product_part .productCard .prd_list .main {      
        grid-template-columns: repeat(4, 1fr);      
    }

    .product_part .productCard .item .socialBtn ul li {
        padding: 10px 20px;      
    }

    .product_part .productCard .item .socialBtn ul li span {      
        font-size: 20px;        
    }

    footer {
        height: 400px;       
    }
    footer .main {
        display: flex;
    }

    footer .item2 {
        margin-top: 0px;
    }

    footer .item3 {
        margin-top: 0px;
    }
    /* <!-- ********************Details Part****************************** --> */
    .details_part{
        height: 100vh;
    }  
    .details_part .details_Card {
        width: 45%;       
    }
    .details_part .details_Card .text .main {
        display: flex;
    }

    /* ********************congrats Part****************************** */
    .congrats_part .cgs_item{
        width: 30%;
    }

  }